.name {
   width: 235px;
   height: 45px;
   border-radius: 5px;
   font-size: 24px;
   margin: 5px 5px;
   padding: 20px;
   color: #94AEBF;
   background: #ffffff1a;
   border: none;
   box-sizing: border-box;
}
