.emailField {
   width: 375px;
   height: 45px;
   border-radius: 5px;
   font-size: 24px;
   margin: 5px 0px;
   padding: 20px;
   color: #94AEBF;
   background: #ffffff1a;
   border: none;
   box-sizing: border-box;
}

.emailField::placeholder {
   font-size: 24px;
   opacity: 40%;
}

@media (max-width: 820px) {
   .emailField {
      width: 100%;
      margin: 1px 3px;
      font-size: 20px;
      height: 40px;
   }
 }
 