@font-face {
   font-family: 'Azo-Sans';
   src: url('/fonts/Azo-Sans/Azo-Sans.ttf');
   src: url('/fonts/Azo-Sans/Azo-Sans.eot') format('embedded-opentype'),
      url('/fonts/Azo-Sans/Azo-Sans.woff') format('woff'),
      url('/fonts/Azo-Sans/Azo-Sans.ttf') format('truetype'),
      url('/fonts/Azo-Sans/Azo-Sans.svg') format('svg');
}
.submitBtn {
   font-family: 'Azo-Sans';
   font-size: 20px;
   background: #ED1F34 0% 0% no-repeat padding-box;
   border-color: #ED1F34;
   color: #FFFFFF;
   width: 150px;
   height: 50px;
   border-radius: 6px;
   margin: 3px 19px;
}