.emailField {
   width: 375px;
   height: 45px;
   border-radius: 5px;
   font-size: 24px;
   margin: 5px 0px;
   padding: 20px;
   color: #94AEBF;
   background: #ffffff1a;
   border: none;
   box-sizing: border-box;
}

.emailField::placeholder {
   font-size: 24px;
   opacity: 40%;
}