.userAgreement {
   max-width: 420px;
   font-family: 'Azo-Sans-Light';
   font-size: 12px;
   line-height: 14px;
   color: #9B9B9B;
   padding-left: 3px;
}

@media (max-width: 1000px) {
   .userAgreement {
    font-size: 11px;
   }
 }

 @media (max-width: 1000px) {
   .userAgreement {
    width: 100%;
   }
 }