body {
  background-color: #131120;
}

@font-face {
  font-family: 'Elaine_D02';
  src: url('../public/fonts/Elaine_D02/Elaine_D02.ttf');
  src: url('../public/fonts/Elaine_D02/Elaine_D02.eot') format('embedded-opentype'),
     url('../public/fonts/Elaine_D02/Elaine_D02.woff') format('woff'),
     url('../public/fonts/Elaine_D02/Elaine_D02.ttf') format('truetype'),
     url('../public/fonts/Elaine_D02/Elaine_D02.svg') format('svg');
}

@font-face {
  font-family: 'Azo-Sans-Bold';
  src: url('../public/fonts/Azo-Sans-Bold/Azo-Sans-Bold.ttf');
  src: url('../public/fonts/Azo-Sans-Bold/Azo-Sans-Bold.eot') format('embedded-opentype'),
     url('../public/fonts/Azo-Sans-Bold/Azo-Sans-Bold.woff') format('woff'),
     url('../public/fonts/Azo-Sans-Bold/Azo-Sans-Bold.ttf') format('truetype'),
     url('../public/fonts/Azo-Sans-Bold/Azo-Sans-Bold.svg') format('svg');
}