@font-face {
   font-family: 'Azo-Sans';
   src: url('/fonts/Azo-Sans/Azo-Sans.ttf');
   src: url('/fonts/Azo-Sans/Azo-Sans.eot') format('embedded-opentype'),
      url('/fonts/Azo-Sans/Azo-Sans.woff') format('woff'),
      url('/fonts/Azo-Sans/Azo-Sans.ttf') format('truetype'),
      url('/fonts/Azo-Sans/Azo-Sans.svg') format('svg');
}

.text {
   font-size: 18px;
   font-family: 'Azo-Sans';
   color: #94AEBF;
   margin: 0;
   padding: 0;
}
